@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@300&display=swap');

button {
  width: 225px;
  padding: 17px 24px;
  gap: 12px;
  border-radius: 14px;
  background-color: #6100c2;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  font-family: 'Poppins', sans-serif;
}
