.movieTitle {
  font-size: 15px;
}
.toprated {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  margin-left: 2410px;
  margin-right: 2410px;
}
.topratedmovielist:hover {
  transition: 0.5s;
  transform: scale(0.9);
  cursor: pointer;
}
.topratedmovielist {
    margin: 0 20px;
}
