@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
p {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 109.091% */
  letter-spacing: 1.32px;
  padding-left: 15px;
  margin-top: 7px;
}
